<section class="contact-methods-section">
    <div class="main-container">
        <div class="additional-services-container">

            <div class="service-card animate-on-scroll" [style.--index]="0">
                <div class="service-content">
                    <mat-icon fontIcon="location_on"></mat-icon>
                    <h2 class="additional-service-title">ADDRESS</h2>
                    <p>1022 East Chevy Chase Dr. Ste. D Glendale, CA 91205</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>


            <div class="service-card animate-on-scroll" [style.--index]="1">
                <div class="service-content">
                    <mat-icon fontIcon="call"></mat-icon>
                    <h2 class="additional-service-title">PHONE / FAX</h2>
                    <p>Tel: 747.282.1616</p>
                    <p>Fax: 747.282.1600</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>

            <div class="service-card animate-on-scroll" [style.--index]="2">
                <div class="service-content">
                    <mat-icon fontIcon="mail"></mat-icon>
                    <h2 class="additional-service-title">EMAIL</h2>
                    <p>ramadrugs2020&#64;gmail.com</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="main-container">
        <div class="heading">
            <h1>Contact Us</h1>
        </div>

        <div class="content-container">
            <div class="map">
                <img src="https://media.wired.com/photos/5a6a61938c669c70314b300d/3:2/w_2560%2Cc_limit/Google-Map-US_10.jpg"
                    alt="">
            </div>

            <div class="contact-information">
                <!-- <div class="contacts-methods">

                    <div class="data-point">
                        <mat-icon fontIcon="location_on"></mat-icon>
                        <div class="text">1022 East Chevy Chase Dr. Ste. D Glendale, CA 91205</div>
                    </div>

                    <div class="data-point">
                        <mat-icon fontIcon="call"></mat-icon>
                        <div class="text">Tel: 747.282.1616</div>
                    </div>

                    <div class="data-point">
                        <mat-icon fontIcon="print"></mat-icon>
                        <div class="text">Fax: 747.282.1600</div>
                    </div>

                    <div class="data-point">
                        <mat-icon fontIcon="mail"></mat-icon>
                        <div class="text">ramadrugs2020&#64;gmail.com</div>
                    </div>


                </div> -->

                <form class="contact-form" [formGroup]="contactForm">
                    <div class="names">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="name" placeholder="Enter your First Name" type="text">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Enter your First Name" type="text">
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Enter your First Name" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                        <input matInput formControlName="subject" placeholder="Enter your First Name" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Message</mat-label>
                        <input matInput formControlName="message" placeholder="Enter your First Name" type="text">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</section>