.footer-container {
    background-image: linear-gradient(-150deg, #f4805b, #a3543c)
}

.content {
    width: 1200px;
    padding: 60px 0px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: row;
}

.rights {
    color: white;
    width: 100%;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.location {
    width: 35%;
}

.email {
    width: 20%;
}

.socials {
    width: 10%;
}

.location .city {
    font-weight: 100;
    color: white;
    margin: 10px 0px;
}


.contact-details {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .city {
        color: white;

    }
}

.address-container,
.numbers-container {
    width: 50%;
}

.data-point,
.address {
    display: flex;
    flex-direction: row;
    gap: 10px;

    mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: white;
    }

    .text {
        width: 100%;
        font-size: 14px;
        font-weight: 100;
        margin: 0px;
        color: white;
    }
}

.email {
    .email-title {
        font-weight: 100;
        color: white;
        margin: 10px 0px;
    }
}

.socials {
    .socials-title {
        font-weight: 100;
        color: white;
        margin: 10px 0px;
    }

    .socials-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;

        img.link-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
        }
    }
}