<div class="footer-container">
    <div class="content">
        <!-- <div class="details">
            <div class="location">
                <h2 class="city">Glendale</h2>
                <div class="contact-details">
                    <div class="address-container">
                        <div class="address">
                            <mat-icon fontIcon="location_on"></mat-icon>
                            <div class="text">1022 East Chevy Chase Dr. Ste. D Glendale, CA 91205</div>
                        </div>
                    </div>
                    <div class="numbers-container">
                        <div class="data-point">
                            <mat-icon fontIcon="call"></mat-icon>
                            <div class="text">747.282.1616</div>
                        </div>

                        <div class="data-point">
                            <mat-icon fontIcon="print"></mat-icon>
                            <div class="text">747.282.1600</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="location">
                <h2 class="city">North Hollywood</h2>
                <div class="contact-details">
                    <div class="address-container">
                        <div class="address">
                            <mat-icon fontIcon="location_on"></mat-icon>
                            <div class="text">1022 East Chevy Chase Dr. Ste. D Glendale, CA 91205</div>
                        </div>
                    </div>
                    <div class="numbers-container">
                        <div class="data-point">
                            <mat-icon fontIcon="call"></mat-icon>
                            <div class="text">747.282.1616</div>
                        </div>

                        <div class="data-point">
                            <mat-icon fontIcon="print"></mat-icon>
                            <div class="text">747.282.1600</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="email">
                <h2 class="email-title">Email</h2>
                <div class="data-point">
                    <mat-icon fontIcon="mail"></mat-icon>
                    <div class="text">ramadrugs2020&#64;gmail.com</div>
                </div>
            </div>

            <div class="socials">
                <h2 class="socials-title">Follow Us</h2>
                <div class="socials-links">

                    <div class="socials-link">
                        <a class="facebook-link" target="_blank" tooltip="matTooltip" matTooltip="Facebook"
                            [matTooltipPosition]="'above'" href='http://instagram.com/themarketapex'>
                            <img class="link-logo" src="assets/facebook_logo.svg" alt="Logo" />
                        </a>
                    </div>

                    <div class="socials-link">
                        <a class="x-link" target="_blank" tooltip="matTooltip" matTooltip="X / Twitter"
                            [matTooltipPosition]="'above'" href='https://x.com/TheMarketApex'>
                            <img class="link-logo" src="assets/x_logo.svg" alt="Logo" />
                        </a>
                    </div>

                    <div class="socials-link">
                        <a class="instagram-link" target="_blank" tooltip="matTooltip" matTooltip="Instagram"
                            [matTooltipPosition]="'above'" href='http://instagram.com/themarketapex'>
                            <img class="link-logo" src="assets/instagram_logo.svg" alt="Logo" />
                        </a>
                    </div>

                </div>
            </div>
        </div> -->

        <div class="rights">
            <span>© RaMa Drugs Inc. Established 2020</span>
        </div>

    </div>
</div>