<div class="nav-bar-container">
    <div class="content" [class.scrolled]="isScrolled" [class.not-home]="!isHomeRoute">

        <a [routerLink]="['/homepage']">
            <img class="image" src="assets/RAMA_Logo.png">
        </a>

        @if (screenWidth > 670) {
        <div class="buttons">
            <a class="button underline-animation" [routerLink]="['/homepage']">Home</a>
            <a class="button underline-animation" [routerLink]="['/refill-rx']">Refill RX</a>
            <a class="button underline-animation" [routerLink]="['/transfer-rx']">Transfer RX</a>
            <a class="button underline-animation" [routerLink]="['/contact-us']">Contact Us</a>
        </div>
        }
        @else {
        <mat-icon class="menu-button" [class.scrolled]="isScrolled || !isHomeRoute" fontIcon="menu"
            (click)="onMenuClick()">
        </mat-icon>
        }
    </div>
</div>