<div class="nav-bar-container">
    <div class="content" [class.scrolled]="isScrolled">
        <div class="logo-container">
            <a [routerLink]="['/homepage']"><img class="image" src="assets/RAMA_Logo.png"></a>
        </div>

        <div class="buttons">
            <!-- <a class="button underline-animation" [routerLink]="['/about-options-article']"> What are Options?</a> -->
            <!-- <a class="button underline-animation" [routerLink]="['/options-pricing-blog']"> Options Pricing</a> -->
            <a class="button underline-animation" [routerLink]="['/homepage']"> Home</a>
            <a class="button underline-animation" [routerLink]="['/refill-rx']"> Refill RX</a>
            <a class="button underline-animation" [routerLink]="['/transfer-rx']">Transfer RX</a> <!-- [matMenuTriggerFor]="beforeMenu" -->
            <a class="button underline-animation" [routerLink]="['/contact-us']">Contact Us</a>
            <!-- <mat-menu #beforeMenu="matMenu" xPosition="before">
                <a mat-menu-item [routerLink]="['/about-options-blog']">What are Options?</a>
                <a mat-menu-item [routerLink]="['/about-options-part-two-blog']">What are Options? (pt. 2)</a>
                <a mat-menu-item [routerLink]="['/options-pricing-blog']">Options Pricing</a>
            </mat-menu> -->
        </div>

        <mat-icon class="menu-button" id="animate" style="--index: 5;" aria-hidden="false"
            aria-label="Example home icon" fontIcon="menu" (click)="onMenuClick()" [class.open]="isOpen">
        </mat-icon>
    </div>
</div>