.team-container {
    width: 100%;
    background-color: #e8e4dd;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
}

/* heading */
.title {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
}

.description {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    width: 80%;
    margin: auto;
}

/* team members */
.team-members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    width: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member img {
    width: 277px;
    height: 430px;
    object-fit: cover;
}

.team-member .name {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0;
}

/* BUTTON */
.learn-more-button {
    all: unset;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #eb7d32;
    border: 2px solid #eb7d32;
    border-radius: 2px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.learn-more-button:hover {
    background-color: #eb7d32;
    color: white;
    box-shadow: 0 6px 12px rgba(235, 125, 50, 0.3);
}


/* medium window */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .content {
        padding: 60px 15px;
    }

    .team-member {
        width: 350px;
    }

    .team-member img {
        width: 350px;
        height: 430px;
    }
}


/* medium window */
@media only screen and (min-width: 670px) and (max-width: 900px) {
    .content {
        padding: 60px 15px;
    }

    .title {
        font-size: 35px;
    }
    
    .description {
        font-size: 16px;
    }

    .team-member {
        width: 350px;
    }

    .team-member img {
        width: 350px;
        height: 430px;
    }
}



/* smallest window */
@media only screen and (max-width: 670px) {
    .content {
        padding: 60px 15px;
    }

    .title {
        font-size: 35px;
    }

    .description {
        font-size: 16px;
    }

    .team-member img {
        width: 370px;
        height: 500px;
    }

}