.services-container {
    width: 100%;
    background-color: #fff9f1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
}

.services-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 375px;
    height: 350px;

    .title {
        font-size: 45px;
        margin: 0px;
    }

    .description {
        font-size: 18px;
        line-height: 1.5;
        margin: 0px;
    }
}

.learn-more-button {
    all: unset;

    width: 150px;
    padding: 10px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    color: #eb7d32;
    border: 2px solid #eb7d32;
    border-radius: 2px;

    cursor: pointer;

    /* Smooth animations */
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.learn-more-button:hover {
    background-color: #eb7d32;
    color: white;
    box-shadow: 0 6px 12px rgba(235, 125, 50, 0.3);
}



.service-card {
    border: 2px solid #f4812f;
    border-radius: 5px;
    padding: 30px;

    width: 375px;
    height: 350px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    
    color: white;
    text-align: center;

    overflow: hidden;
}



mat-icon {
    height: 50px;
    width: auto;
    font-size: 50px;
    color: #f4812f;
}

.additional-service-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

p {
    // width: 90%;
    height: 80px;
    // margin: auto;

    font-size: 16px;
    color: #48270f;
}






// .animate-on-scroll {
//     opacity: 0;
//     transform: translateY(30px);
// }

// .slide-in {
//     animation: slideIn 0.6s ease-out forwards;
//     animation-delay: calc(0.15s * (var(--index) + 1));
// }

// @keyframes slideIn {
//     0% {
//         opacity: 0;
//         transform: translateY(30px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }