.services-container {
    width: 100%;
    background-color: #fff9f1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;

    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
}

.services-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 370px;
    height: 350px;
}

.title {
    font-size: 45px;
    margin: 0;
}

.description {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.service-card {
    border: 2px solid #f4812f;
    border-radius: 5px;
    padding: 30px;
    width: 370px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: white;
    text-align: center;
    overflow: hidden;
}

mat-icon {
    height: 50px;
    width: auto;
    font-size: 50px;
    color: #f4812f;
}

.additional-service-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

p {
    font-size: 16px;
    color: #48270f;
}

/* BUTTONS */
.learn-more-button {
    all: unset;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #eb7d32;
    border: 2px solid #eb7d32;
    border-radius: 2px;
    cursor: pointer;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.learn-more-button:hover {
    background-color: #eb7d32;
    color: white;
    box-shadow: 0 6px 12px rgba(235, 125, 50, 0.3);
}


/* medium window */
@media only screen and (min-width: 670px) and (max-width: 1100px) {
    .content {
        justify-content: center;
        align-items: center;
        padding: 60px 15px;
    }

    .services-description-container {
        justify-content: flex-start;
        height: auto;
        gap: 30px;
    }

    .title {
        font-size: 35px;
        margin: 0;
    }
}


/* smallest window */
@media only screen and (max-width: 670px) {
    .content {
        justify-content: center;
        align-items: center;
        padding: 60px 15px;
    }

    .title {
        font-size: 35px;
        margin: 0;
    }

    .services-description-container {
        justify-content: flex-start;
        height: auto;
        gap: 30px;
    }

    .top-of-page-button {
        left: 80vw;
    }

    .top-of-page-button {
        display: none;
    }

}