<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet> <!-- (scroll)="onScroll($event)"-->
    </mat-sidenav-content>
    <mat-sidenav class="side-nav" #sideNav mode="over" position="end" fixedInViewport="true">
        <div class="sidenav-container">

            <mat-icon class="menu-button" aria-hidden="false" aria-label="Example home icon" fontIcon="close"
                (click)="sideNav.toggle()" [class.open]="isOpen">
            </mat-icon>

            <ul>
                <li class="menu-item" [style.--index]="0"><a (click)="scrollToView('about-me')">ABOUT ME</a></li>
                <hr>
                <li class="menu-item" [style.--index]="1"><a (click)="scrollToView('services')">SERVICES</a></li>
                <hr>
                <li class="menu-item" [style.--index]="2"><a (click)="scrollToView('experiences')">EXPERIENCE</a></li>
                <hr>
                <li class="menu-item" [style.--index]="3"><a (click)="scrollToView('lets-talk')">LET'S TALK!</a></li>
                <hr>
            </ul>
            
        </div>
    </mat-sidenav>

</mat-sidenav-container>