:host {
  display: block;
  position: relative;
  z-index: 0; // Ensure stacking context is created
}

app-navbar {
  position: sticky;
  z-index: 1000;
}

router-outlet {
  position: relative;
  // z-index: 10;
}


/* sidenav styling */
.side-nav {
  min-width: 100%; // width of the panel
  justify-content: center;
//   background-color: black;
}


/* straightens the edges */
.mat-drawer.mat-drawer-end {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.side-nav .sidenav-container {
  height: 100%;
  padding: 30px 30px 30px 50px;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

hr {
  border: none;
  height: 1px;
  /* old IE */
  background-color: #979797;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
}

.menus {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* drawer animations */
.menu-item {
  opacity: 0;
  transform: translateX(30px);
  /* Initially position off-screen */
  animation: slideIn 0.3s ease-out forwards;
}

.side-nav a {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: 14px;
  color: white;
  transition: 0.4s;
}

.side-nav a:hover {
  color: #979797;
  transition: 0.4s;
}

.menu-item {
  text-align: right;

  animation: slideIn 0.3s ease-out forwards;
  animation-delay: calc(0.1s * (var(--index) + 1));
}

.extras a {
  color: #7d7d7d !important;
  font-weight: normal;
}

app-footer {
  z-index: 1000;
}


/* medium window */
@media only screen and (min-width: 670px) and (max-width: 1100px) {
  .mat-sidenav-container {
    background-size: auto 100vh;
  }

}

/* smallest window */
@media only screen and (max-width: 670px) {
  .mat-sidenav-container {
    background-size: auto 100vh;
  }


}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}