<section>
    <div class="main-container">        
        <div class="heading">
            <h1>All Major Health Plan Accepted</h1>
            <h2>And More...</h2>
        </div>
        
        <div class="insurances-container">
            @for (insurance of insurances; track insurance; let i = $index;) {
            <img class="insurance animate-on-scroll" src="{{insurance}}" [style.--index]="i">
            }
        </div>

        <div class="disclaimer">
            <p>Not covered by any of these plans? Contact us and we will find the best solution to suit you.</p>
        </div>
    </div>
</section>