<section>
    <div class="main-container">
        <div class="additional-services-container">

            <div class="service-card animate-on-scroll" [style.--index]="0">
                <div class="service-content">
                    <mat-icon fontIcon="local_shipping"></mat-icon>
                    <h2 class="additional-service-title">FREE DELIVERY</h2>
                    <p>RaMa Drugs will deliver your prescriptions to your doorstep at no extra charge!.</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>


            <div class="service-card animate-on-scroll" [style.--index]="1">
                <div class="service-content">
                    <mat-icon fontIcon="health_and_safety"></mat-icon>
                    <h2 class="additional-service-title">ALL OVER-THE-COUNTER NEEDS</h2>
                    <p>Antacids, Antiemetics, Antihistamines, Cough Suppressants, Decongestants, Pain Relievers,
                        Vitamins And
                        more...</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>

            <div class="service-card animate-on-scroll" [style.--index]="2">
                <div class="service-content">
                    <mat-icon fontIcon="call"></mat-icon>
                    <h2 class="additional-service-title">ON-CALL PHARMACISTS</h2>
                    <p>RaMa Drugs has dedicated pharmacists on call to answer your questions 24/7</p>
                    <!-- <a class="button left"> LEARN MORE</a> -->
                </div>
            </div>
        </div>
    </div>
</section>