.intro {
    height: 100%;
    max-width: 1200px;
    /* position: absolute; */
    margin: auto;
    //   padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content {
    top: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 800px;


    position: relative;
    z-index: 300;
}

.intro-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding-bottom: 40px;
    // border-bottom: 3px solid #ffffff83;
}

.text {
    h1 {
        margin: 15px 0px;
        color: white;
        font-size: 60px;
        font-weight: 500;
        width: 600px;
    }

    p {
        margin: 8px 0px;
        line-height: 1.7;
        color: white;
        font-size: 16px;
        width: 500px;
    }
}

.button-container {
    display: flex;
    align-items: flex-end;
}


.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    color: #ffffffd3;

    mat-icon {
        margin: 0px 10px 0px 0px;
    }

    span {
        margin-top: 2px;
    }
}


.intro .action-button {
    width: 150px;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    transition: 0.3s;

    //   #f4812f;
}


.intro .action-button:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}


// .intro {
//     height: 100%;
//     max-width: 1140px;
//     /* position: absolute; */
//     margin: auto;
//     //   padding: 30px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .intro-content {
//     top: 20vh;
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//     max-height: 800px;


//     position: relative;
//     z-index: 300;
// }

// .text {
//     /* background-color: white; */
//     background-image: linear-gradient(to bottom right, #ffffff, #ffffff00);

//     height: auto;
//     border-radius: 5px;
//     padding: 30px;
//     width: 40%;
// }

// .text h1 {
//     font-family: 'D-DIN Bold';
//     font-size: 25px;
//     margin: 10px 0px;
//     color: black;
//     font-family: "Satoshi", "Satoshi Placeholder", sans-serif;

// }

// .text p {
//     font-size: 14px;
//     color: black;
// }

// .intro .action-button {
//     width: 150px;
//     background: none;
//     border: none;
//     padding: 0;
//     cursor: pointer;
//     outline: inherit;
//     font-family: Inter, sans-serif;
//     font-size: 14px;
//     color: black;
//     padding: 10px 20px 10px 20px;
//     border: 2px solid black;
//     transition: 0.3s;

//     //   #f4812f;
// }

// .intro .action-button:hover {
//     color: white;
//     background-color: black;
//     transition: 0.3s;
// }

/* medium window */
@media only screen and (min-width: 670px) and (max-width: 1100px) {
    .intro {
        top: 30vh;
    }

    .intro-content {
        justify-content: center;
    }

    .text {
        width: 80%;
    }

}

@media only screen and (max-height: 500px) {
    .text {
        padding: 20px;
    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 15px;
    }

    .intro .action-button {
        width: 100px;
        font-size: 15px;
        padding: 5px 10px 5px 10px;

    }

}

/* smallest window */
@media only screen and (max-width: 670px) {
    .intro {
        top: 30vh;
    }

    .intro-content {
        justify-content: center;
    }

    .text {
        width: 90%;
        padding: 20px;
    }

    .text h1 {
        font-size: 20px;
    }

    .text p {
        font-size: 13px;
    }

    .intro .action-button {
        width: 100px;
        font-size: 13px;
        padding: 5px 10px 5px 10px;
    }

}

#animate {
    opacity: 0;
    /* Start off invisible */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: calc(0.1s * (var(--index) + 1));
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}