.intro {
    height: 100%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content {
    top: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 300;
}

.intro-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 40px;
}

h1 {
    margin: 15px 0;
    color: white;
    font-size: 60px;
    font-weight: 500;
    width: 600px;
}

p {
    margin: 8px 0;
    line-height: 1.7;
    color: white;
    font-size: 16px;
    width: 500px;
}

/* medium window */
@media only screen and (min-width: 670px) and (max-width: 1200px) {
    .intro-content {
        padding: 40px;
    }
}

/* small window */
@media only screen and (max-width: 670px) {
    .intro {
        width: 100%;
    }

    .intro-content {
        top: 0vh;
        width: 100%;
        padding: 20px;
    }

    .intro-text {
        padding: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1 {
        margin: 0;
        width: auto;
        font-size: 30px;
    }

    p {
        margin: 5px 0px;
        width: auto;
        font-size: 13px;
    }
}

/* animation */
#animate {
    opacity: 0;
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: calc(0.1s * (var(--index) + 1));
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
