<div class="intro">
    <div class="intro-content" id="animate">
        <div class="intro-text">
            <div class="text">
                <h1>Your Personal Health Connection</h1>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>

            <div class="button-container">
                <button class="action-button" (click)="scrollToView('lets-talk')">LEARN MORE</button>
            </div>
        </div>

        <div class="contact-information">
            <div class="contact">
                <mat-icon fontIcon="location_on"></mat-icon>
                <span>1022 East Chevy Chase Dr. Ste. D Glendale, CA 91205</span>
            </div>

            <div class="contact">
                <mat-icon fontIcon="call"></mat-icon>
                <span>747.282.1616</span>
            </div>

            <div class="contact">
                <mat-icon fontIcon="print"></mat-icon>
                <span>747.282.1600</span>
            </div>

            <div class="contact">
                <mat-icon fontIcon="mail"></mat-icon>
                <span>ramadrugs2020&#64;gmail.com</span>
            </div>
        </div>

    </div>




</div>