.strip-packaging-container {
    width: 100%;
    background-color: #fff9f1;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
}

img {
    width: 400px;
    height: auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

}

.title {
    font-size: 55px;
    font-weight: 500;
    margin: 0px;
    color: #b06028;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    margin: 0px;
    color: #48270f;
}

.learn-more-button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #eb7d32;
    background-color: transparent;
    border: 2px solid #eb7d32;
    border-radius: 2px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;

    &:hover {
        background-color: #eb7d32;
        color: white;
        box-shadow: 0 6px 12px rgba(235, 125, 50, 0.3);
    }
}


/* medium window */
@media only screen and (min-width: 670px) and (max-width: 900px) {
    .content {
        flex-direction: row;
        gap: 10px;
    }

    .title {
        font-size: 40px;
    }

    .description {
        font-size: 14px;
    }
}

/* small window */
@media only screen and (max-width: 670px) {
    .content {
        padding: 60px 15px;
        flex-direction: column;
        gap: 20px;
    }

    img {
        width: 90%;
    }

    .text {
        width: 100%;
        margin: 0px 15px;
    }

    .title {
        text-align: center;
        font-size: 25px;
    }

    .description {
        text-align: center;
        font-size: 13px;
    }

    .learn-more-button {
        width: 100px;
        padding: 5px;
        font-size: 12px;
    }
}